<footer class="footer mt-auto py-5 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Avito Clone</h5>
        <p>La plateforme d'annonces classées numéro 1 au Maroc. Achetez et vendez des produits neufs ou d'occasion près de chez vous.</p>
        <div class="mt-4">
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin-in fa-lg"></i></a>
        </div>
      </div>
      
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Liens rapides</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">À propos de nous</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Contactez-nous</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Carrières</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Blog</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Aide et support</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Catégories populaires</h5>
        <ul class="list-unstyled">
          <% Category.main_categories.limit(5).each do |category| %>
            <li class="mb-2">
              <%= link_to category.name, category_path(category), class: "text-white text-decoration-none" %>
            </li>
          <% end %>
        </ul>
      </div>
      
      <div class="col-md-3">
        <h5 class="text-uppercase mb-4">Téléchargez notre application</h5>
        <p>Accédez à Avito Clone où que vous soyez avec notre application mobile.</p>
        <div class="d-flex flex-column">
          <a href="#" class="mb-2">
            <img src="/app-store-badge.png" alt="App Store" height="40">
          </a>
          <a href="#">
            <img src="/google-play-badge.png" alt="Google Play" height="40">
          </a>
        </div>
      </div>
    </div>
    
    <hr class="my-4 bg-secondary">
    
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-md-0">&copy; <%= Date.current.year %> Avito Clone. Tous droits réservés.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Conditions d'utilisation</a></li>
          <li class="list-inline-item mx-3">|</li>
          <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Politique de confidentialité</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>